.bar_create{
    display: flex;
    flex-direction: row;
    height: 27.5rem;
    display: flex;
    margin: 3.4rem 4.5rem;
    border-radius: 1rem;
    padding: 0.5rem 1.7rem;;
/*     
    background: rgba( 255, 255, 255, 0.15 );
    backdrop-filter: blur( 0.5px );
    -webkit-backdrop-filter: blur( 0.5px );
    border-radius: 10px; */

    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

}
.create_bar3{
    display: flex;
    height: 25rem;
    width: 36rem;
    display: flex;
    border-radius: 1rem;
    padding: 0.5rem 1.7rem;;
    flex-direction: column;
    align-items: flex-start;
}

.create_bar2{
    display: flex;
    height: 25rem;
    width: 15rem;
    display: flex;
    border-radius: 1rem;
    padding: 0.5rem 1.7rem;;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.create_bar{
    display: flex;
    height: 25rem;
    width: 15rem;
    display: flex;
    border-radius: 1rem;
    padding: 0.5rem 1.7rem;;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.accN{
    width: 12rem;
    height: 2.5rem;
    border-radius: 2rem;
    border: none;
    padding: 0.2rem 0.9rem;
    font-family: system-ui;
    font-size: 1.5rem;
}

.needamnt{
    width: 12rem;
    height: 2.5rem;
    border-radius: 2rem;
    border: none;
    padding: 0.2rem 0.9rem;
    font-family: system-ui;
    font-size: 1.3rem;
}

.protitle{
    width: 12rem;
    height: 2.5rem;
    border-radius: 2rem;
    border: none;
    padding: 0.2rem 0.9rem;
    font-family: system-ui;
    font-size: 1.5rem;
}

.expdate{
    width: 12rem;
    height: 2.5rem;
    border-radius: 2rem;
    border: none;
    padding: 0.2rem 0.9rem;
    font-family: system-ui;
    font-size: 1.5rem;
}

.project_desc{
    margin: 3.4rem 1rem;
    width: 15rem;
    text-align: left;
    text-indent: 1rem;
}
.proj_des{
    width: 20rem;
    height: 12rem;
    border-radius: 2rem;
    border: none;
    padding: 1.2rem 1.2rem;
    font-family: system-ui;
    font-size: 1.5rem;

    overflow: hidden;
    resize: none;
}


.add_address{
    width: 10rem;
    margin: 0rem 5rem 2rem 0rem;
}
.amount{
    width: 10rem;
    margin: 0rem 5rem 2rem 0rem;
}
.project_title{
    width: 10rem;
    margin: 0rem 5rem 2rem 0rem;
}
.expiry{
    width: 10rem;
    margin: 0rem 5rem 2rem 0rem;
}

label{
    color: white;
    font-size: 1.5rem;
}
