.FundingProject{
    height: 27.5rem;
    margin: 3.4rem 4.5rem;
    border-radius: 1rem;
    padding: 0.5rem 1.7rem;
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
    backdrop-filter: blur( 10px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    text-align: start;
}


.fundingimg{
    width: 35rem;
    height: 20rem;
    object-fit: cover;
    margin-top: 2rem;
}

.fundingAdd{
    display: inline;
    position: fixed;
    margin: 3rem 2rem;

    font-family: 'poppins';
    font-size: 1.3rem;
    color: #252528;
}

.fundingTitle{
    display: inline;
    position: fixed;
    margin: 6rem 2rem;

    font-family: 'poppins';
    font-size: 1.3rem;
    color: #252528;
}

.fundingAmount{
    display: inline;
    position: fixed;
    margin: 9rem 2rem;
    
    font-family: 'poppins';
    font-size: 1.3rem;
    color: #252528;
}

.fundingDesc{
    display: inline;
    position: fixed;
    margin: 12rem 2rem;
    
    font-family: 'poppins';
    font-size: 1.3rem;
    color: #252528;
}

.fundingExp{
    display: inline;
    position: fixed;
    margin: 19rem 2rem;
    
    font-family: 'poppins';
    font-size: 1.3rem;
    color: #252528;
}

.fundingInput{
    display: inline;
    position: fixed;
    margin: 22rem 2rem;
    
    font-family: 'poppins';
    font-size: 1.3rem;
    color: #252528;
}

.fundingButton{
    padding: 0.6rem 1.9rem;
    font-size: 1.4rem;
    border-radius: 1.3rem;
    background-color: #47ffa6;
    opacity: 1;
    position: relative;
    left: 40vw;
}

.fundingButton:active{
    translate: 0px 2px;
    opacity: 0.7;
}

