.Navbar {
  height: 80px;
  display: flex;
  margin: 3.4rem 4.5rem;
  border-radius: 1rem;
  padding: 0.5rem 1.7rem;
  justify-content: flex-start;
  align-items: center;

  background: rgba( 255, 255, 255, 0.2 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 10px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );

  
}
  
  .logo-nav{
    width: 2rem;
    position: absolute;
    
  }

  .Navbar > .nav-logo {
    font-weight: 700;
    font-size: 1.7rem;
    margin: 2rem;
    color: #ffffff;
  }
  
  .Navbar > .nav-items > a {
    color: #ffffff;
    font-size: 2rem;
    text-decoration: none;
    margin: 1rem;
    position: relative;
    opacity: 0.9;
  }
  
  .Navbar > .nav-items > a:hover {
    opacity: 1;
  }
  
  .Navbar > .nav-items > a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: #ffffff;
    transition: all 0.45s;
  }
  
  .Navbar > .nav-items > a:hover::before {
    width: 100%;
  }
  
  .Navbar > .nav-toggle {
    display: none;
  }
  
  @media (max-width: 950px) {
    .Navbar{
      background: none;
      margin: 0.3rem ;
      justify-content: flex-end;
      box-shadow: none;
      border: none;
      padding: 0rem;
      position: relative;
      z-index: 2;
    }
    
    .Navbar > .nav-items > a:hover{
      opacity: 1;
      background-color: rgba(83, 83, 83, 0.425);
    } 
    
    .Navbar > .nav-items > a {
      padding: 1rem;
      margin: 0px;
      border-bottom: 2px solid black;
    }

    .Navbar > .nav-items {
      position: absolute;
      top: 0px;
      display: flex;
      flex-direction: column;
      background: #3b4da7;
      left: 0;
      width: 100%;
      height: 100vh;
      transform: translateX(-100%);
      transition: all .45s;
      
      background: rgb(4 6 12 / 92%);
      border-radius: 10px;
    }
  
    .Navbar > .nav-items > a::before {
        background: transparent;
    }
  
    .Navbar > .nav-items.open {
        transform: translateX(0);

    }
  
    .Navbar > .nav-toggle {
      display: flex;
      width: 5rem;
      height: 5rem;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  
    .nav-toggle > .bar {
      position: relative;
      width: 32px;
      height: 2px;
      background: #ffffff;
      transition: all 0.45s ease-in-out;
    }
  
    .nav-toggle > .bar::before,
    .nav-toggle > .bar::after {
      content: "";
      position: absolute;
      height: 2px;
      background: #ffffff;
      border-radius: 2px;
      transition: all 0.45s ease-in-out;
    }
  
    .nav-toggle > .bar::before {
      width: 32px;
      transform: translateY(-10px);
      right: 0px;
    }
  
    .nav-toggle > .bar::after {
      width: 32px;
      transform: translateY(8px);
      left: 0px;
    }
  
    .nav-toggle.open > .bar {
        transform: translateX(-40px);
        background: transparent;
    }
  
    .nav-toggle.open > .bar::before {
        width: 32px;
        transform: rotate(45deg) translate(26px, -26px);
    }
  
    .nav-toggle.open > .bar::after {
      transform: rotate(-45deg) translate(26px, 26px);
    }
  
    .nav-items.false{
      display: none;
    }
  }